.leftBGI {
  position: absolute;
  height: 80vh;
  top: 10vh;
  left: -90px;
}

.rightBGI {
  position: absolute;
  height: 80vh;
  left: 100vw;
  transform: translateX(-90%);
}

#scene{
  z-index: 100;
}
