.good_card {
  display: flex;
  width: 65vw;
  margin: auto;
}

.photo {
  width: 60%;
  padding: 20px;
  border-radius: 5px;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
}

.photo>img {
  width: 60%;
}

.small_photo {
  width: 100%;
  display: flex;
  margin: 5px;
  gap: 10px;
}

.title_card {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(50px);
  border-radius: 5px;
  padding: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.small_photo img {
  width: 25%;
  cursor: pointer;
}

.good_price {
  width: 100%;
  text-align: left;
}

.good_button {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
}

.good_input {
  display: flex;

}

.good_input input {
  width: 3vw;
  height: 35px;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.good_price>p {
  font-size: 3vw;
  margin-left: 20px;
  color: #5a3600;
  text-decoration: underline;
  margin-top: 10px;
}


/* input */
.input_number {
  border: 2px solid #e8e8e8;
  background-color: #212121;
  font-size: small;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  width: 5vw;
}

.input_number:focus {
  outline-color: white;
  background-color: #212121;
  color: #e8e8e8;
  box-shadow: 5px 5px #888888;
}

.input_button {
  border: 2px solid #e8e8e8;
  background-color: #212121;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  cursor: pointer;
}

.good_hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #FFF;
}




/* contant */
.good_card_contant {
  display: flex;
  width: 65vw;
  margin: auto;
}

.contant_block {
  width: 60%;
  min-height: 600px;
  padding: 20px;
  border-radius: 5px;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
}

/* contant_nav */
.contant_nav {
  width: 100%;
}

.contant_block ul {
  /* margin: 150px auto 0; */
  padding: 0;
  list-style: none;
  display: table;
  width: 100%;
  text-align: center;
}

.contant_block li {
  display: table-cell;
  position: relative;
  /* padding: 15px 0; */
}

.contant_block a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

.contant_block a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.contant_block a:hover:after {
  width: 100%;
  left: 0;
}

.contant_text{
  margin-top: 10px;
  text-align: left;
  border: 3px solid #fff;
  scroll-behavior: smooth;
  height: 520px;
  border-radius: 5px;
  overflow:scroll;
  word-wrap: break-word;
  background: #fff;
  color: #212121;
  font-size: 20px;
}

.contant_text::-webkit-scrollbar {
  display: none;
}

.contant_text h3{
  margin-top: 15px;
}

