@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", 'cwTeXYen', sans-serif;
}

body {
  min-height: 100vh;
  /* padding-top: 620px; */
  /* background: url("./images/bgi.png"); */
  background-color: #3A3A3A;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  overflow:hidden visible;
  /* cursor: none; */
}


html{
  scroll-behavior: smooth;
}


/* navbar css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem 10%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 9999;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(5px);
  z-index: -1;
}

.header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: .5s;
}

.header:hover::after {
  left: 100%;
}

.logoSpan {
  display: block;
  padding-top: 10%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}

.logo {
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 20%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  display: flex;

}

.logoText {
  writing-mode: vertical-lr;
  font-size: 1.2rem;
}

.navber {
  display: flex;
  gap: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.navber a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin: auto;
}

.navber a:hover {
  color: orange;
}

.navber a>i {
  margin-right: 5px;
}

.searchZone {
  margin: auto;
}

.Icon {
  font-size: 2rem;
  right: 5%;
  color: #fff;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  display: none;
}

.searchZone {
  background: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(50px);
  padding: 5px;
  border-radius: 5px;
}

.searchZone input {
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}

#check {
  display: none;
}

/* BREAKPOINT */
@media (max-width:992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width:768px) {
  .Icon {
    display: inline-flex;
  }

  #check {
    position: relative;
    margin-left: 80%;
  }

  .Icon #close-icon {
    display: none;
  }


  #check:checked~.Icon #menu-icon {
    display: none;
  }

  #check:checked~.Icon #close-icon {
    display: block;
  }

  .navber {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #3A3A3A;
    display: block;
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
  }

  #check:checked~.navber {
    height: 17.7rem;
  }

  .navber a {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    opacity: 0;
    transition: .3s ease;
  }

  #check:checked~.navber a {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(.05s*var(--i));
  }

  .searchZone {
    text-align: center;
    display: block;
    background: none;
    backdrop-filter: none;
  }

}


/* carousel */
.container {
  position: absolute;
  
  top: 360px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101vw;
  height: 500px;
  background: #f5f5f5;
  /* box-shadow: 0 30px 50px #dbdbdb; */
  overflow: hidden;
}

.container .slide .item {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  /* box-shadow: 0 30px 50px #505050; */
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: .75s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.slide .item:nth-child(3) {
  left: 50%;
}

.slide .item:nth-child(4) {
  left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
  left: calc(50% + 440px);
}

/* here n =0,1,2,3....  */
.slide .item:nth-child(n+6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 50px;
  width: 30vw;
  height: 75%;
  text-align: left;
  color: #000000;
  transform: translate(0, -50%);
  display: none;
  background: rgb(255, 255, 255, .1);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
}

.slide .item:nth-child(2) .content {
  display: block;
}

.content .name {
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
  position: absolute;
  top: 85%;
}


@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid orange;
  transition: .3s;
  color: orange;
}

.button button:hover {
  background: orange;
  color: #fff;
}

/* smallnav */
#smallnav{
  margin-top: 630px;
}


.smallnavUL {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 60px;
  background-color: #242424;
  /* border-radius: 30px; */
}

.smallnavUL li {
  list-style: none;

}

.smallnavUL li a {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  z-index: 1000;
  color: #444;
  margin-left: 10px;
}

.smallnavUL li a i {
  font-size: 2.5em;
  transition: .5s;
  pointer-events: none;
}

.smallnavUL li:hover a i {
  color: #afffc7;
  filter: drop-shadow(0 0 15px #afffc7);
}

.smallnavUL li.active a i {
  color: #afffc7;
  filter: drop-shadow(0 0 15px #afffc7);
  transform: translateY(-20px);
}

/* #marker {
  position: absolute;
  left: 244px;
  top: -20px;
  width: 80px;
  height: 80px;
  background: #4e7250;
  border-radius: 20px;
  border-top: 2px solid #afffc7;
  border-left: 2px solid #afffc7;
  box-shadow: 0 0 0 10px #161616, 0 2px 0 9px #afffc7;
  transition: .5s;
  display: none;
} */

.smallnavUL li span {
  text-align: center;
  position: absolute;
  pointer-events: none;
  transform: translateY(30px);
  opacity: 0;
  font-size: 0.7em;
  transition: .5s;
  text-transform: uppercase;
}

.smallnavUL li.active span {
  opacity: 1;
  color: #afffc7;
  filter: drop-shadow(0 0 10px #afffc7);
}

/* #marker span {
  position: absolute;
  top: 93px;
  width: 120%;
  left: -8px;
  height: 50px;
  background: #4e7250;
  box-shadow: 0 0 0 10px #161616, 0 -2px 0 10px #afffc7;
  border-radius: 20px;
  border-right: 1px solid #afffc7;
  border-bottom: 1px solid #afffc7;
  display: none;
} */

/* gotopButton */
.gotopButton{
  position: fixed;
  color: #e0ffec;
  font-size: 28px;
  bottom: 5vh;
  right: 5vw;
  z-index: 1001;
}

.gotopButton i{
  color: #ffffff;
}


   /*houdini*/
   @property --blink-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
  }
  
  /* #fallback @keyframes blink-animation {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }*/
  
  @keyframes blink-animation {
    0%,
    100% {
      opacity: var(--blink-opacity, 1);
    }
    50% {
      opacity: 0;
    }
  }
  
  